<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<i class="bi bi-envelope-at vfyemail"></i>
             <h3 class="vfy-email">Verifica tu email</h3>
		<p class="btn-login">Volver a Login <a href="/auth/login" class="ml-2">Sign On</a></p>
		
			
			</div>
		</div>
	</div>
